@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
    
}
<div style="padding-top:5em" class="about" id="about">
    <h3 data-aos="zoom-in">About me</h3>
    <div class="col-md-6 about-left">
        <h3 data-aos="slide-up">Hello</h3>
        <p>
            Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
            nisi ut aliquid ex ea commodi consequatur? Quis autem exercitationem ullam corporis suscipit laboriosam,
            vel eum iure reprehenderit qui in ea voluptate velit
            esse quam nihil molestiae consequatur, vel illum qui
            dolorem eum fugiat quo voluptas nulla pariatur.
        </p>
        <p>
            Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam,
            nisi ut aliquid ex ea commodi consequatur? Quis autem
            vel eum iure reprehenderit.
        </p>
        <img src="~/theme/images/signature.jpg" alt="" />
    </div>
    <div data-aos="flip-right" class="col-md-6 about-right">
        <img src="~/theme/images/about.jpg" alt="" />
    </div>
    <div class="clearfix"></div>
</div>

<div class="about" id="about">
    <h3 data-aos="zoom-in">About me</h3>
    <div data-aos="flip-right" class="col-md-6 about-right">
        <img src="~/theme/images/about.jpg" alt="" />
    </div>
    <div class="col-md-6 about-left">
        <h3 data-aos="slide-up">Hello</h3>
        <p>
            Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
            nisi ut aliquid ex ea commodi consequatur? Quis autem exercitationem ullam corporis suscipit laboriosam,
            vel eum iure reprehenderit qui in ea voluptate velit
            esse quam nihil molestiae consequatur, vel illum qui
            dolorem eum fugiat quo voluptas nulla pariatur.
        </p>
        <p>
            Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam,
            nisi ut aliquid ex ea commodi consequatur? Quis autem
            vel eum iure reprehenderit.
        </p>
        <img src="~/theme/images/signature.jpg" alt="" />
    </div>
    
    <div class="clearfix"></div>
</div>