@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<div class="container" style="padding-top:70px">


    <div class="about" id="about">
        <h3 data-aos="zoom-in">E-Commerce development</h3>
        <div class="col-md-8 about-left">
            
            <p>
                An approach to eliminate the time and location barriers from your business. </p>
            <p>
                E commerce websites are a great option to keep you facilitating your clients 24 hours a day 365 days a year by making your market online and available every time around the globe. We the team at Omnisol put forward our best efforts to promote a business online using the technique of e-commerce.
                Our e-commerce solution is combination of feasibility, affordability and functionality and services to build a new business or grow an existing business to a more successful limit.

                Benefits of e-commerce website
                •	24/7 available business without the need of a sales man
                •	Anytime  online shopping using world wide web
                •	Higher customer satisfaction
                •	Easy promotion of new and existing stock items
                •	Automatic purchase control
                •	Automatic safe and secure transaction control

                Why omnisol for emcommerce development
                We have probably the widest network of developers in the town providing the best and most suitable solution for any business.
                We provide the following e-commerce based solutions
                •	Secure password protected admin panel
                •	Search Engine Friendly Website
                •	Quality web designs for your Ecommerce website
                •	OpenCart eCommerce Development
                •	Prestashop eCommerce Development
                •	Magento eCommerce Development
                •	Joomla eCommerce Development
                •	Custom eCommerce Development
                •	WordPress eCommerce
                •	WooCommerce

            </p>
            <img src="~/theme/images/signature.jpg" alt="" />
        </div>
        <div data-aos="flip-right" class="col-md-4 about-right">

           



            @*<div class="col-md-5 education-w3l">*@
                <h3 data-aos="zoom-in" class="w3l_head three">Related Links</h3>
                <div class="education-agile-grids">
                    <div class="education-agile-w3l">
                        <div class="education-agile-w3l-info">
                            <a href="/home/services?id=Software developmet"><h4>Software developmet</h4></a>
                            <p>Let the more intelligent service guide you take better decisions</p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="education-agile-w3l two">
                       
                        <div class="education-agile-w3l-info">
                            <a  href="/home/services?id=Web development"> <h4>Web development</h4></a>
                            <p>Having an online presence strategy allowing you to market your business online.</p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="education-agile-w3l">
                        
                        <div class="education-agile-w3l-info last">
                            <a href="/home/services?id=E-Commerce development"><h4>E-Commerce development</h4></a>
                            <p>An approach to eliminate the time and location barriers from your business.</p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="education-agile-w3l">
                        <div class="education-agile-w3l-info">
                            <a href="/home/services?id=online marketing"><h4>online marketing services</h4></a>
                            <p>Grow your business cost efficiently and reach the targeted audience</p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="education-agile-w3l">
                        <div class="education-agile-w3l-info">
                            <a href="/home/services?id=web hosting"><h4>web hosting </h4></a>
                            <p>A portal specially designed for enterpenuers and freelancers. </p>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            @*</div>*@




        </div>
        <div class="clearfix"></div>
    </div>

    @*<div>
        <h3>Software Development</h3>
    </div>
    <br /><br />
    <div class="container">
        <div class="col-md-9">
            Let the more intelligent service guide you take better decisions

            By having the exact statistics of overall business including demographics of potential new customers, existing customers, and sales prospects and evaluated by marketing personnel for economic feasibility, for fit with existing channels distribution. We strive to present all the parameters in such a tremendous way so the corporate values may be grown to highest extent.
            OmniSol has a team of professionals which follows the process of software development through consecutive phases in a systematic technique. Are working on the latest strategies and techniques to make sure the client / customer is satisfied.
            <br />
            <br />
            <br />


            -------------------------------------------------------------------------------------------------------------------------------------
        </div>
        <div class="col-md-3">
            <table border="2">
                <thead>
                    <tr><th style="background-color:chartreuse">Related Services</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" style="padding:5px 5px 5px 5px">SOftware</td>
                    </tr>
                    <tr>
                        <td>SOftware</td>
                    </tr>
                    <tr>
                        <td>SOftware</td>
                    <tr>
                        <td>SOftware</td>
                    </tr>
                    <tr>
                        <td>SOftware</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>*@
</div>