@{
    Layout = null;
  
}



<!--

-->
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>OmniSol</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <link rel="shortcut icon" href="~/Images/121.png" />
    <meta name="keywords" />
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    @*<script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>*@

    <!-- Portfolio-CSS -->
    <link rel="stylesheet" href="~/theme/css/swipebox.css" type="text/css" media="all">
    
    <link href="~/theme/css/aos.css" rel="stylesheet" type="text/css" media="all" /><!-- //animation effects-css-->

    <link rel="stylesheet" href="~/theme/css/index.css"><!-- skills bars CSS-->
    <!-- custom-theme -->
    <link href="~/theme/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //custom-theme -->
    <!-- font-awesome-icons -->
    <link href="~/theme/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- googlefonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext" rel="stylesheet">
    <!-- //googlefonts -->
    
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <script>
        window.fcWidget.init({
            token: "b77385bb-dfc1-465a-8f4f-775cd9d92a8b",
            host: "https://wchat.freshchat.com"
        });
    </script>
   

    <!-- banner -->
    <div style="background-size:100% 600px"  class="banner" id="home">
        <div class="agileinfo-dot">
            <div  class="container">
                <!-- header -->
                <div  class="header-w3layouts">
                    <!-- Navigation -->
                    <nav style="background:rgba(48, 233, 12, 0.80)" class="navbar navbar-default navbar-fixed-top">
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">My_Design</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a class="navbar-brand" href="/home/index">OmniSol</a></h1>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right cl-effect-15">
                                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                                <li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
                                <li><a class="page-scroll scroll" href="/home/index">Home</a></li>
                                <li><a class="page-scroll scroll" href="/home/about">About</a></li>
                                <li><a class="page-scroll scroll" href="/home/services">Services</a></li>
                                
                                <li><a class="page-scroll scroll" href="/home/portfolio">Portfolio</a></li>
                                <li><a class="page-scroll scroll" href="/home/contact">Contact</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                        <!-- /.container -->
                    </nav>
                </div>
                <!-- //header -->

                <div  class="w3_banner_info">
                    <div class="w3_banner_info_grid"><br /><br /><br />
                        <h2 data-aos="fade-right">Welcome To</h2>
                        <h2 data-aos="fade-right">OmniSol</h2>
                        <h5></h5>
                        <p>
                            Initiative To Promote Technology   
                           
                        </p>
                        <ul data-aos="slide-up">
                            <li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Know More</a></li>

                        </ul>
                    </div>
                </div>
                <div class="thim-click-to-bottom">
                    <a href="#about" class="scroll">
                        <i class="fa fa-arrows-v" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- banner -->
    <!-- bootstrap-modal-pop-up -->
    <!-- modal -->
    <div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">About Us</h4>
                </div>
                <div class="modal-body">
                    <div class="modalpad">
                        <div class="modalpop ">
                            
                            <img src="~/Images/pic.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="about-modal wthree">
                            <h3>Welcome To The<span>World Of Technology</span></h3>
                            <h4>We have Initiative to promote Technology</h4>
                            <ul class="address">
                               
                                <li>
                                    <ul class="agileits-address-text">
                                        <li><b>PHONE </b></li>
                                        <li>+92 300 615 2086</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="agileits-address-text">
                                        <li><b>ADDRESS </b></li>
                                        <li>Opp. Noorabad Street, Fateh Garh, Defense Road, Sialkot, Pakistan</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="agileits-address-text">
                                        <li><b>E-MAIL </b></li>
                                        <li><a href=""> info@OmniSolutions.com</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="agileits-address-text">
                                        <li><b>Gmail </b></li>
                                        <li><a href="#">OmniSolutionOfficial@gmail.com</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->
    <!-- //bootstrap-modal-pop-up -->
    <!-- about -->
    <div class="about" id="about">
        <h3 data-aos="zoom-in">Our Mission</h3>
        <div class="col-md-6 about-left">
         <h3 data-aos="slide-up">Hello</h3>
            <p>
                We are keen to facilitate people with a podium where solution of every problem is just a call away.
            </p>
            <p>
                Our motive is to become a market leader by consistently exceeding our Customer’s expectations.
                providing them with best of breed technology solutions.
                We will continually communicate with, and learn from our Customers, in order to improve our products and services. And, we will keep on top of today’s and tommorrow’s technology, no matter how fast it moves, to ensure our Customers always have the best tools available to them.
            </p>
            <!-- //<img src="~/theme/images/signature.jpg" alt="" /> -->
        </div>
        <div @* data-aos="flip-right"*@ class="col-md-6 about-right">
           
            <img class="img-responsive" src="~/Images/omnisol.jpg" />
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //about -->
    <!-- skills -->
    <div class="skills" id="skills">
        <div class="container">
            <h3 data-aos="zoom-in">Technology</h3>
            <div class="skill-grids">
                <div class="col-md-6 skill-grids-left">
                    <div data-aos="flip-left" class="col-md-6 w3labout-img">
                        <div class="boxw3-agile">
                            <img src="~/theme/images/s1.jpg" alt="" class="img-responsive" />
                            <div class="agile-caption">
                                <h3>.Net</h3>
                                <p>Advance framework for web development.</p>
                            </div>
                        </div>
                    </div>
                    <div data-aos="flip-right" class="col-md-6 w3labout-img">
                        <div class="boxw3-agile">
                            <img src="~/theme/images/s2.jpg" alt="" class="img-responsive" />
                            <div class="agile-caption">
                                <h3>Xamrine</h3>
                                <p>Cross Platform Development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div data-aos="flip-left" class="col-md-6 w3labout-img">
                        <div class="boxw3-agile">
                            <img src="~/theme/images/s3.jpg" alt="" class="img-responsive" />
                            <div class="agile-caption">
                                <h3>Android</h3>
                                <p>Mobile Application.</p>
                            </div>
                        </div>
                    </div>
                    <div data-aos="flip-right" class="col-md-6 w3labout-img">
                        <div class="boxw3-agile">
                            <img src="~/theme/images/s4.jpg" alt="" class="img-responsive" />
                            <div class="agile-caption">
                                <h3>NodeJs</h3>
                                <p>Best to do heavy works.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 skill-grids-right">

                    <!-- Skills -->
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #ff4f81;"><span>.Net</span></div>
                        <div class="skillbar-bar" style="background: #ff4f81;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="75%">
                        <div class="skillbar-title" style="background: #ff9900;"><span>Xamrine</span></div>
                        <div class="skillbar-bar" style="background: #ff9900;"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #8e43e7;"><span>Android</span></div>
                        <div class="skillbar-bar" style="background: #8e43e7;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="40%">
                        <div class="skillbar-title" style="background: #146eb4;"><span>NodeJs</span></div>
                        <div class="skillbar-bar" style="background: #146eb4;"></div>
                        <div class="skill-bar-percent">40%</div>
                    </div> <!-- End Skill Bar -->

                    <div class="skillbar clearfix " data-percent="75%">
                        <div class="skillbar-title" style="background: #11b563;"><span>Wordpress</span></div>
                        <div class="skillbar-bar" style="background: #11b563;"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div> <!-- End Skill Bar -->

                    <p class="p1">
                        OmniSol always strives to provide the latest and up to date technology for every kind of project so the client can rely on it completely. <br />
                        Above mentioned technologies are the one whose expert developers are working in OmniSol. Being up to date in technology assures your online security and reliablity. Also better response speed and lesser things to worry about are some pros of the techonolgies we use for development.
                    </p>
                    <!-- //Skills -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //skills -->
    <!-- /education -->
 
    <!-- //education -->
    <!-- Portfolio -->
 
    <!-- //Portfolio -->
    <!-- contact -->
    <div class="contact" id="contact">
        <div class="container">
            <div class="col-md-6 contact-left">
                <h3 data-aos="zoom-in">contact Us</h3>
                <p>
                    Have any queries? <br />Feel free to contact us. our award wining team loves to respond any of your queries and guide you about any of your issues.
                </p>
                <form action="#" method="post">
                    <div class="col-md-6 agileits_agile_about_mail_left">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <input type="text" name="Subject" placeholder="Company Name" required="">
                    </div>
                    <div class="col-md-6 agileits_agile_about_mail_left">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <input type="text" name="Phone" placeholder="Phone" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" placeholder="Message..." required=""></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-md-6 contact-right">
                <div data-aos="flip-down" class="col-md-6 contactright1">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <h4>Location</h4>
                    <p>Opp. Noorabad Street, Fateh Garh, Defense Road, Sialkot</p>
                </div>
                <div data-aos="flip-down" class="col-md-6 contactright1">
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    <h4>Phone</h4>
                    <p>052 324 1412</p>
                    <p>+(92) 300 615 2089</p>
                    <p>+(92) 336 404 2627</p>
                </div>
                <div class="clearfix"></div>
                <div data-aos="flip-up" class="col-md-6 contactright1">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <h4>Support</h4>
                    <p><a href="mailto:info@example.com">info@OmniSolutions.org</a></p>
                </div>
                <div data-aos="flip-up" class="col-md-6 contactright1">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <h4>Mail</h4>
                    <p><a href="mailto:info@example.com">OmniSolOfficial@gmail.com</a></p>
                    @*<p><a href="mailto:info@example.com">info@example1.com</a></p>*@
                </div>
                <div class="clearfix"></div>
                <ul class="top-links">
                    <li data-aos="flip-right"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li data-aos="flip-right"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li data-aos="flip-right"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li data-aos="flip-right"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //contact -->
    <!-- map -->
    <div class="map">
        <h3 data-aos="zoom-in">Locate Us</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3365.8598120638108!2d74.51355081456641!3d32.476441206558825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391eea09485fcda3%3A0xd083a9384473db25!2sOmniSol!5e0!3m2!1sen!2s!4v1517726443675" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  </div>
    <!-- //map -->
    <!-- copyright -->
    <div class="copyright-agile" style="background-color:#82b550">
        <div class="col-md-4">
            <div>
                <h4>OmniSol</h4><br />
                <p>Opp. Noorabad Street, Fateh Garh, Defense Road, Sialkot, Pakistan</p>

                <p>© 2018 All rights reserved | Design by <a href="http://omnisolutions.org">OmniSol</a></p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-6">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h4>
                                    Short Links
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <a href="/home/index">Home</a>
                                    </li>
                                    <li>
                                        <a href="/home/contact">Contact</a>
                                    </li>
                                    <li>
                                        <a href="/home/Portfolio">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="/home/about">About</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                   
                    <thead>
                        <tr>
                            <th>
                             <h4>
                              Services
                             </h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul class="cl-effect-15">
                                    <li>
                                        <a class="page-scroll scroll" href="/home/index">Software Development</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll scroll" href="/home/contact">Mobile App Development</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll scroll" href="/home/Portfolio">SEO</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll scroll" href="/home/about">Marketing</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="fb-page " data-href="https://www.facebook.com/OmniSolOfficial/" data-tabs="timeline" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/OmniSolOfficial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/OmniSolOfficial/">OmniSol</a></blockquote></div>

        </div>
        <div class="clearfix"></div>
    </div>
    <!-- copyright -->

   
    
    <!-- js -->
    <script type="text/javascript" src="~/theme/js/jquery-2.1.4.min.js"></script>
    <!-- for bootstrap working -->
    <script src="~/theme/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js -->
    <!-- Gallery-Tab-JavaScript -->
    @*<script src="~/theme/js/cbpFWTabs.js"></script>
    <script>
				(function() {
					[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
						new CBPFWTabs( el );
					});
				})();
    </script>*@
    <!-- //Gallery-Tab-JavaScript -->
    <!-- Swipe-Box-JavaScript -->
    @*<script src="~/theme/js/jquery.swipebox.min.js"></script>*@
    @*<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
    </script>*@
    <!-- //Swipe-Box-JavaScript -->
    <!-- Scrolling Nav JavaScript -->
   <script src="~/theme/js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
   
  @*  <script src="~/theme/js/index.js"></script><!-- skills bars JS FILE-->*@
    <!-- animation effects-js files-->
    <script src="~/theme/js/aos.js"></script><!-- //animation effects-js-->
    <script src="~/theme/js/aos1.js"></script><!-- //animation effects-js-->
    <!-- animation effects-js files-->
    <!-- //here starts scrolling icon -->
    <script src="~/theme/js/SmoothScroll.min.js"></script>
  @*  <script type="text/javascript" src="~/theme/js/move-top.js"></script>*@
    <script type="text/javascript" src="~/theme/js/easing.js"></script>
    <!-- here stars scrolling script -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};

			});
    </script>
    <!-- //here ends scrolling script -->
    <!-- //here ends scrolling icon -->
    <!-- scrolling script -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
          
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>

    <script>
         (function (d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
             js = d.createElement(s); js.id = id;
             js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
             fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));</script>
    <!-- //Facebook Page -->
    <!-- //scrolling script -->

</body>
</html>