
@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
    ViewBag.Title = "Portfolio";
}

<div style="padding-top:5em" class="portfolio" id="portfolio">
    <h3 data-aos="zoom-in">Portfolio</h3>

    <div class="tabs tabs-style-bar">
        <nav>
            <ul>
                <li><a href="#section-bar-1" class="icon icon-box"><span>Web Design</span></a></li>
                <li><a href="#section-bar-2" class="icon icon-display"><span>Mobile Apps</span></a></li>
                <li><a href="#section-bar-3" class="icon icon-upload"><span>UI/UX Design</span></a></li>
                <li><a href="#section-bar-4" class="icon icon-tools"><span>Graphic Design</span></a></li>
            </ul>
        </nav>

        <div class="content-wrap">

            <!-- Tab-1 -->
        <h1 class="jumbotron" >UNDER MAINTENANCE</h1>

            <!-- End Skill Bar 
            <section id="section-bar-1" class="agileits w3layouts">
                <h4>Web Design</h4>
                <div class="gallery-grids">
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/5.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/5.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p4.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p4.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p5.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p5.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p6.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p6.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p7.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p7.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p8.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p8.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p9.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p9.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p10.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p10.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p11.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p11.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Web Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>-->
            <!-- //Tab-1 -->
            <!-- //commented whole tab -->
            <!-- Tab-2 -->
            <section id="section-bar-2" class="agileits w3layouts">
                <h4>Mobile Apps</h4>
                <div class="gallery-grids">
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p1.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p1.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p2.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p2.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p3.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p3.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p12.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p12.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p13.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p13.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/8.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/8.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/9.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/9.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/6.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/6.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/7.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/7.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Mobile Apps</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
            <!-- //Tab-2 -->
            <!-- Tab-3 -->
            <section id="section-bar-3" class="agileits w3layouts">
                <h4>UI/UX Design</h4>
                <div class="gallery-grids">
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p1.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p1.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p2.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p2.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="~/theme/images/p3.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p3.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p4.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p4.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p5.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p5.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p6.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p6.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p7.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p7.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p8.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p8.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p9.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p9.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>UI/UX Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
            <!-- //Tab-3 -->
            <!-- Tab-4 -->
            <section id="section-bar-4" class="agileits w3layouts">
                <h4>Graphic Design</h4>
                <div class="gallery-grids">
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p10.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p10.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p11.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p11.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p12.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p12.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p13.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p13.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p5.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p5.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p6.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p6.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p7.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p7.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p8.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p8.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 gallery-top">
                        <a href="images/p9.jpg" class="swipebox">
                            <figure class="effect-bubba">
                                <img src="~/theme/images/p9.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <h4>Graphic Design</h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
            <!-- //Tab-4 -->

        </div><!-- //Content -->
    </div><!-- //Tabs -->
</div>

