
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<br /><br /><br /><br />
<h2 style="text-align:center">We Do Offer</h2>

<div>
    <br /><br />
    <div style="margin-bottom:10px">
        <div class="col-sm-4" style="min-height:300px">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=Software developmet"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a>
                    </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">Software Development</h3></td>
                </tr>
                <tr>
                    <td  align="center">Let the more intelligent service guide you take better decisions.</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4" style="min-height:300px">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=WEB development"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a> </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">WEB development</h3></td>
                </tr>
                <tr>
                    <td align="center">Having an online presence strategy allowing you to market your business online.</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4" style="min-height:300px">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=E-Commerce development"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a> </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">E-Commerce development</h3></td>
                </tr>
                <tr>
                    <td align="center">An approach to eliminate the time and location barriers from your business.</td>
                </tr>
            </table>
        </div>
    </div><br /><br />
    <div style="margin-bottom:10px">
        <div class="col-sm-4">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=Strategic outsourcing"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a>   </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">Strategic outsourcing</h3></td>
                </tr>
                <tr>
                    <td align="center">providing outsource facility for software projects from translantic exposes.</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=online marketing services"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a>  </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">online marketing services</h3></td>
                </tr>
                <tr>
                    <td align="center">Grow your business cost efficiently and reach the targeted audience.</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=web hosting"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a>  </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">web hosting</h3></td>
                </tr>
                <tr>
                    <td align="center">a portal specially designed for enterpenuers and freelancers.</td>
                </tr>
            </table>
        </div>
    </div><br /><br />
    <div style="margin-bottom:10px">
        <div class="col-sm-4">
            <table  align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=SEO"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a> </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">SEO</h3></td>
                </tr>
                <tr>
                    <td align="center">get noticed on search engines.</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=Mobile Application Development"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a>  </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">Mobile Application Development</h3></td>
                </tr>
                <tr>
                    <td align="center">make the things more handy and remote that matters you the most.</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table align="center">
                <tr>
                    <td align="center">
                        <a href="/home/Services?id=Software"> <img src="~/Images/softdevelop.png" style="width:150px;height:150px" class="img-responsive" /></a>   </td>
                </tr>
                <tr>
                    <td align="center"><h3 style="text-align:center">Software Development</h3></td>
                </tr>
                <tr>
                    <td align="center">By focusing on overall business value and customer satisfaction as our top corporate values, we always deliver the highest quality solutions, while establishing long-term relationships with our clients.</td>
                </tr>
            </table>
        </div>
    </div><br /><br />
</div>

<div class="clearfix"></div>